<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>API_KEY</key>
		<string>AIzaSyDNT-VQfKlnFHkMP1VI7fP5hYPwYZxQQRU</string>
		<key>GCM_SENDER_ID</key>
		<string>556096164784</string>
		<key>PLIST_VERSION</key>
		<string>1</string>
		<key>BUNDLE_ID</key>
		<string>com.example.dinoRun</string>
		<key>PROJECT_ID</key>
		<string>pyjamapingpong</string>
		<key>STORAGE_BUCKET</key>
		<string>pyjamapingpong.appspot.com</string>
		<key>IS_ADS_ENABLED</key>
		<false></false>
		<key>IS_ANALYTICS_ENABLED</key>
		<false></false>
		<key>IS_APPINVITE_ENABLED</key>
		<true></true>
		<key>IS_GCM_ENABLED</key>
		<true></true>
		<key>IS_SIGNIN_ENABLED</key>
		<true></true>
		<key>GOOGLE_APP_ID</key>
		<string>1:556096164784:ios:d62df11bf2a4bcc1eb3c75</string>
	</dict>
</plist>
